node_modules
dist
.DS_Store
*.local
*.log
.env
.env.local
.env.*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build & misc
*.tsbuildinfo
.vite
.cache
coverage
